<div class="wrapper" style="height: auto; min-height: 100%;">
  <app-main-header></app-main-header>
  <app-main-sidebar></app-main-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 926px;">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <app-main-footer></app-main-footer>
  <app-main-control-sidebar></app-main-control-sidebar><div class="control-sidebar-bg"></div>
</div>